<h1>Editing planner note</h1>

<%= render "form", planner_note: @planner_note %>

<br>

<div>
  <%= link_to "Show this planner note", @planner_note %> |
  <%= link_to "Back to planner notes", planner_notes_path %>
</div>
